@font-face {
    font-family: myFont;
    src: url("fonts/MarioWorldPixelColor-3zBwX.ttf");
}

@font-face {
    font-family: myOtherFont;
    src: url("fonts/angrybirds-regular.ttf");
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select:  none;
    font-family: myFont;
}
body{
    background: url(images/particles/star.png);
}

div#gameWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}
section#assets{
    display: none;
}

/* LOADING */
section#loadingScreen{
    position: absolute;
    background-color: #102030;  
    width: 100%;
    height: 100%;
}
section#loadingScreen button{
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 99%;
    height: 99%;
    color: white;
    transform: translate(-50%, 50%);
    border: 20px dashed white;
    background-color: #102030;
    font-size: 1.2rem;
}

/* MENU */
section#menuScreen{
    position: absolute;
    background-color: #102030;
    width: 100%;
    height: 100%;
}
section#menuScreen div#button{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 80%;
}
section#menuScreen button{
    width: 100%;
    height: 90%;
    color: white;
    margin: auto;
    background: transparent;
    box-shadow: 10px 10px 10px black;
}
section#menuScreen button:hover{
    background-color: black;
}
/* PLAY */
section#playScreen{
    position: absolute;
    background: transparent;
    width: 100vw;
    height: 100vh;
}

#canvas{
    background: transparent;
    /*border: 20px groove limegreen; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#buttonsLayer
{
    z-index: 10;
   /* border: 2px solid white; */
    color: white;
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;
    max-height: 100%;
}
#buttonsLayer #go-to{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;
    max-height: 100%;
}

#go-to button{
    background: transparent;
}

#leftControlButtons
{
   /* border: 2px solid white; */
    position: absolute;
    bottom: 2%;
    left: 1%;
    width: 35%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rightControlButtons
{
   /* border: 2px solid white; */
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: 35%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftControlButtons button, #rightControlButtons button{
    width: 25%;
    height: 40%;
    color: white;
    background: transparent;
    border-radius: 10%;
    font-family: myOtherFont;
    font-size: 2rem;
    color: white;
}
/*left control buttons*/
#left
{
    position: absolute;
    left: 0;
}
#right
{
    position: absolute;
    right: 0;
}
#down
{
    position: absolute;
    bottom: 0;
}
/*right control buttons*/
#special
{
    position: absolute;
    left: 0;
}
#slash
{
    position: absolute;
    right: 0;
}
#up
{
    position: absolute;
    top: 0;
}
#rangedShot
{
    position: absolute;
    bottom: 0;
}

/* LEVEL-COMPLETE */
section#levelCompleteScreen{
    border: 20px dashed black;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    width: 90%;
    height: 90%;
}
section#levelCompleteScreen div#message{
    background-color: black;
}
section#levelCompleteScreen h1{
    text-align:  center;
    height: 30%;
    color: whitesmoke;
}
section#levelCompleteScreen #summary{
    box-shadow: 10px 10px 10px whitesmoke;
    border-top: none;
    height: 60%;
    color: white;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 0.6rem;
}

section#levelCompleteScreen #summary p{
    font-size: 1.6rem;
    padding: 2%;
}

section#levelCompleteScreen div#buttons{
    border: 10px groove black;
    margin: 5%;
    border-radius:  10%;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#levelCompleteScreen div#buttons button{
    background-color: #102030;
    color: white;
    width: 20%;
    height: 40%;
    box-shadow: 5px 5px 5px black;
    margin: auto;
}

section#levelCompleteScreen div#buttons:hover{
    background-color: #102030;
}
section#levelCompleteScreen div#buttons button:hover{
    background-color: black;
}

/* PAUSE */
section#pauseScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    width: 30%;
    height: 70%;
    z-index : 10;
}

section#pauseScreen button{
    background-color: rgba(0, 0, 0, 0.5);
}

section#pauseScreen button:hover{
    background-color: black;
}

/* RESTART CONFIRM SCREEN */
section#restartConfirmScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid black;
    width: 60%;
    height: 70%;
    z-index : 10;
}

section#restartConfirmScreen button{
    background-color: rgba(11, 8, 29, 0.6);
}
section#restartConfirmScreen button:hover{
    background-color: black;
}
section#restartConfirmScreen p{
    text-align: center;
    margin: auto;

}
/* CURTAIN FOR SCENE TRANSITION */
section#playSceneCurtain{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    font-weight: bolder;
    font-size: 1.4rem;
    color: black;
}
section#playSceneCurtain div#message{
    background-color: white;
    text-align: center;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}


/* LEVEL-SELECT */
section#levelSelectScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    width: 60%;
    height: 80%;
    border: 20px solid gray;
    box-shadow: -20px -20px 20px black;
    border-radius: 3%;
}

section#levelSelectScreen #imageDiv{
    position: absolute;
   /* border: 2px solid yellow; */
    width: 100%;
    height: 80%;
}

canvas#levelScreenshot_canvas{
    position: absolute;
    background-color: #102030;
    width: 100%;
    height: 100%;
}

section#levelSelectScreen #imageDiv #imageDescription{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  /*  border: 2px dashed white; */
    color: white;
}

section#levelSelectScreen #imageDiv #levelScreenshot{
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 2px dashed white; */
    color: white;
}

section#levelSelectScreen #navigationButtons {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    /* border: 2px dashed tan; */
    color: white;
}
section#levelSelectScreen #navigationButtons button#levelSelect_previous{
    position: absolute;
    left: 0;
}
section#levelSelectScreen #navigationButtons button#levelSelect_next{
    position: absolute;
    right: 0;
}
section#levelSelectScreen #navigationButtons button{
    color: white;
    height: 100%;
    width: 10%;
    font-size: 2rem;
    font-weight: bolder;
    background: transparent;
}

section#levelSelectScreen #navigationButtons button:hover{
    background-color: black;
}

section#levelSelectScreen #navigationCircles{
    width: 15%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    /* border: 2px dashed green; */
    color: white;
    /*shift the circles to the middle */
    display: flex;
    justify-content: center;
}
section#levelSelectScreen #navigationCircles button{
    color: white;
    background: transparent;
    width: 25%;
    margin: auto;
    border-radius: 50%;
}

section#levelSelectScreen #navigationCircles button:hover{
    color: gray;
    background: whitesmoke;
}

section#levelSelectScreen #changeStateButtons{
    position: absolute;
    bottom: 0;
    /* border: 2px solid red; */
    background-color: black;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}

section#levelSelectScreen #changeStateButtons button{
    width: 50%;
    background-color: #102030;
}

section#levelSelectScreen #changeStateButtons button:hover{
    background-color: black;
}

section#optionsScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    width: 60%;
    height: 80%;
    border: 20px solid gray;
    box-shadow: -20px -20px 20px black;
    border-radius: 3%;
    border: 2px solid black;
}
